body {
	//background-color: #e5e5e5;	
}

.navbar-nav {
	float: right;
}

.center {
	width: 100%;
	margin: 40px auto;
}

.form-control {
	width: 75%;
	height: 50px;
	float: left;
	margin: 0 5px 0 0;
	display: inline-block;

}

.btnYellow {
	display: inline-block;
	width: auto;
	height: 50px;
	padding: 0 20px;
}

.calculating { 	padding: 20px; }

/* FLIP */

.card, .markup {
	border: 2px solid gray;
	border-radius: 5px;
	height: 600px;
	overflow: auto;
	margin-bottom: 20px;
}

.hide {	display: none; }

.front, .back { padding: 0 20px 20px; } 

.card .btn { 
	text-align: center; 
	width: 100%;
} 

figure {
	width: 100px;
	height: 100px;
	float: none;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	margin: 50px auto 10px;					
}


/* END FLIP  */

/* RATING */
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
}

.rating > span {
	display: inline-block;
	position: relative;
	width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
}
/*END RATING*/


